*{
    font-family: 'Poppins', sans-serif;
}
/* For smaller devices */
@media (max-width: 768px) {
  #product-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* For larger devices */
@media (min-width: 769px) {
  #product-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Text color */
.product-card h3,
.product-card p {
  color: white;
}
